# Python cache

**pycache**/
*.pyc
*.pyo
*.pyd

# Virtual environments

.env
.venv
env/
venv/

# Jupyter Notebook checkpoints

.ipynb_checkpoints/

# Model artifacts

!models/
!models/final_gradient_boosting_model.pkl
*.pkl
*.joblib
*.h5

# Logs

*.log

# IDE settings

.vscode/
.idea/

# OS files

.DS_Store
Thumbs.db
